#grid-container {
    margin: 30px;
    height: 300px;
    width: 600px;
    background-color: #555555;
    color: white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);



}

#grid-container > *  {

    border: solid gray 0.5px;

}


header {
    margin: 30px 30px 10px;
}

code {

    color: crimson;
    background-color: #e1e1e1;
    padding: 2px;
    font-size: 105%;
  }

