html, body {

    margin: 0;
    padding: 0;
    background-image: url('../img/background-stipple.png');
    background-repeat: repeat;
    background-size: 100px 100px;



}




#rnbo-root {
    height: 100vh;
    width: 100vw;
    background:none;




}


h2, em {
    width: 100%;
    
}

#rnbo-root {
    margin: auto;
    max-width: 700px;
    

}

#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}

@keyframes blink {

    0%, 100% {background-color: #aaaaaa}
    50% {background-color: #cccccc}

}

button {

    appearance: none;
    text-align: center;
    line-height: 30px;
    margin-top: 25px;
    height: 30px;
    width: 80px;
    border: none;
    background-color: #cccccc;

}

#sequencer {

    margin-top: 6px;
    margin-bottom: 10px;
    display: grid; /* Enable grid layout */
    grid-template-columns: repeat(17, 1fr); /* 16 equal columns */
    grid-template-rows: repeat(6, 30px);   /* 6 rows with a height of 100px each */
    gap: 3px;  /* Optional: space between grid items */
    width: 100%;   

}

.sequencerRow0 {

    border: none;

}

.instrument {

    
    display: grid;
    place-items: center;
    color: black;
    
    

}

#header span{

    background-color: #E6F0FF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2.5px dashed #ABBFFF;

}

#header {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;     
      
}

.header:nth-child(1) {
    text-align: left;
}

.header:nth-child(3) {
    text-align: right;
}

.no_stipple {
    background-color: #E6F0FF;
    padding-left: 10px;
    padding-right: 10px;
    border: 2.5px outset #ABBFFF;
}

@keyframes blink{
    0%, 100% {
        color: black;
    }
    50% {
        color: #668DFF;
    }
}

a {

    animation: blink 2s steps(1) infinite;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}

a:active {

    animation:none;
    color: orange;

}


a:hover{

    background-color: #fff0e6;

}